[submodule "dependencies/CelesteMapsBinParser"]
	path = dependencies/CelesteMapsBinParser
	url = https://github.com/TheCelesteHub/MapBinsParser.git
[submodule "dependencies/CelesteModsParser"]
	path = dependencies/CelesteModsParser
	url = https://github.com/TheCelesteHub/ModsParser.git
