[submodule "dependencies/Go_CelesteMapsBinParser"]
	path = dependencies/Go_CelesteMapsBinParser
	url = https://github.com/TheCelesteHub/MapBinsParser.git
[submodule "dependencies/Go_CelesteModsParser"]
	path = dependencies/Go_CelesteModsParser
	url = https://github.com/TheCelesteHub/ModsParser.git
