---
import Layout from "../../Layout.astro";
import CollectionDetail from "@components/collections/CollectionDetail.svelte";
---

<Layout
  title="Collection Detail"
  bodyClassNames="antialiased selection:bg-primary selection:text-white bg-bg-base text-zinc-100 font-body"
>
  <main class="min-h-screen pb-20 pt-12">
    <div class="px-6 md:px-12 max-w-[1600px] mx-auto">
      <CollectionDetail client:load />
    </div>
  </main>
</Layout>
