---
import { twMerge } from "tailwind-merge";
import "@styles/global.css";
import GlobalFooter from "./components/global/GlobalFooter.astro";
import TitleBar from "./components/global/TitleBar.svelte";
import { ClientRouter } from "astro:transitions";

export type Props = {
  title: string;
  bodyClassNames?: string;
  bodyId?: string;
};

const { bodyClassNames = "", title, bodyId } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Wails Runtime & IPC -->
    <script is:inline src="/wails/ipc.js"></script>
    <script is:inline src="/wails/runtime.js"></script>
    <ClientRouter />
  </head>
  <body class={twMerge([ "bg-bg-base text-zinc-100 font-montserrat antialiased selection:bg-primary selection:text-white pt-8", bodyClassNames, ])} id={bodyId} >
    <TitleBar client:load transition:persist />
    <!-- <GlobalHeader /> -->
    <slot />
    <GlobalFooter transition:persist />
  </body>
</html>

<style>
  html,
  body {
    overflow-y: scroll;

    /* Firefox */
    scrollbar-width: none;

    /* IE and old Edge */
    -ms-overflow-style: none;
  }

  /* Chrome, Safari */
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }
</style>
